<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.web2mob.ChatAround" android:versionName="2.0" android:versionCode="5">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
		<uses-library android:name="com.google.android.maps"></uses-library>
		<activity android:name=".ChatAround"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
    <activity android:name=".MessageCreate" android:label="@string/app_name"></activity>
<activity android:name=".CorrespondencesView" android:label="@string/app_name"></activity>
<activity android:name=".UsersMapView" android:label="@string/app_name"></activity>
<activity android:name=".CreateOrUpdateUserView" android:label="@string/app_name"></activity>
<activity android:name=".MessagedUsersView" android:label="@string/app_name"></activity>
<activity android:name=".FeedbackCreate" android:label="@string/app_name"></activity>
<activity android:name=".TutorialView" android:label="@string/app_name"></activity>
<activity android:name=".CreditsView" android:label="@string/app_name"></activity>
</application>
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
</manifest> 